
body
	background: url("../images/mainbg.png") center/cover fixed no-repeat

//  ===================================================
//      FONT & COLORS
//  ===================================================

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Limelight&display=swap')

h1, h2, h3, h4, h5, h6
	font-family: Limelight, sans-serif

p
	font-family: Garamond, serif

$orange: #A43820
$light-orange: #BA5536
$brown: #46211A
$light-brown: #693D3D
$dark-gray: #222222
$mid-gray: #444444
$light-gray: #CCCCCC


//  ===================================================
//      MEDIA QUERIES
//  ===================================================

@mixin bp-small
	@media only screen and (max-width: 50em)
		@content
		

//  ===================================================
//      COMPONENTS
//  ===================================================

.btn
	padding: 1rem 3rem
	font: normal 1.25rem Garamond
	color: $light-gray
	transition: .3s ease-in-out
	border-radius: 10px
	cursor: pointer

	
.btn-orange
	border: 1px solid $light-orange
	background-color: $orange
	&:hover
		background-color: $light-orange
		color: #ffffff

		
.btn-register
	margin-top: 1rem
	background-color: $orange
	border: 1px solid $light-orange
	&:hover
		background-color: $light-orange
		border: 1px solid $light-orange
		color: #ffffff

.pi
	font-family: Garamond, serif
	padding: 1rem
	position: absolute
	bottom: 0
	right: 0
	z-index: 9
	color: $mid-gray
	font-size: 2rem
	cursor: default

.modal
	position: fixed
	top: 0
	left: 0
	z-index: 99
	width: 100%
	height: 100vh
	background-color: rgba(0, 0, 0, .8)
	display: none

.page-layout
	width: 100%
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	color: #ffffff
	position: relative
	
.page-header
		position: absolute
		top: 5rem
		text-align: center
		display: flex
		justify-content: center
		flex-direction: column
		gap: 3rem
		&-text
			font-size: 2rem
		&-title
			font-size: 3rem


.video-js
	border-radius: 10px
	border: 1px solid $orange
	box-shadow: 0 0 25px 5px $orange





