
.login
	position: relative
	top: 0
	width: 100%
	height: 100vh
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr))
	z-index: 0

	&-left
		position: relative
		display: flex
		justify-content: center
		align-items: center
		height: 100vh
		&-bg
			position: absolute
			width: 100%
			height: 100%
			object-fit: fill
			z-index: -1
		
	&-right
		position: relative
		background-color: $dark-gray
		height: 100vh
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		gap: 2rem
		padding: 0 1rem

	&-text
		color: #ffffff
		display: flex
		flex-direction: column
		gap: 2rem
		text-align: center
		width: 100%
		padding: 0 1rem
	&-title
		font-size: 7vw
		+bp-small
			font-size: 14vw
	&-quote
		font-size: 2vw
		+bp-small
			font-size: 5vw






