{% extends 'index.html' %}

{% block content %}

	<section class="about">
		<article class="about-text">
			<h3>
				Hello and welcome.
			</h3>
			<p>
				You ever been busy with whatever when suddenly, bam! A memory of a movie hits
				you? Either because it was so good or so bad or it triggered a memory in ya?
			</p>
			<p>
				After some days, hours, minutes of this memory eating away at your soul you decide
				to jump on you favorite streaming service... Netflix, Prime, Hulu, Disney and damnit!
				None of them have this movie in their selection.
			</p>
			<p>
				Some of us have an IP box. You could hop on and try to find it there.
				Others (like me) jump on a torrent service and try to find a clean file to download. But some
				us will just stay with the hope that one of these streaming services will add this movie in the future.
			</p>
			<p>
				Anywho, long story short. every week on Sunday I promised myself to watch one of these
				movies. Good, bad, new, old. Doesn't matter. I regularly post these on Facebook and I regularly get
				requests for a link to these movies. Well this is my solution.
			</p>
			<p>
				What good is being a web developer if you can't just make cool shit for you and your friends to watch.
			</p>
			<p>
				Some specifics:
			</p>
			<ul>
				<li>
						The videos will be available to watch mostly on Sundays and will be available for 12 hours.
				</li>
				<li>
						For now it's free. I'm still playing around with storage size and how many people watch with me.
						But the plan is to keep it free of costs.
				</li>
				<li>
						The resolution for now is HD (720p). After asking around some people don't have the connection
						speed for anything bigger.
				</li>
				<li>
						This is still an alpha build. But most probably I will add a registration feature. No biggie.
						Just for my and your own safety and keep weirdos out.
				</li>
				<li>
						Adding requested videos is also in the planning.
				</li>
			</ul>
		</article>
	</section>

{% endblock %}