<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
	<title>Title</title>
</head>
<body>

{% include 'navigation.html' %}

<div class="container text-center my-5">
	<h1 class="text-light">Movie of the week</h1>
</div>


{% block content %}

{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>

</body>
</html>
