{% extends 'index.html' %}

{% block content %}
	<section class="page-layout movie">
		<section class="page-header">
			<p class="page-header-text">Featured movie:</p>
			<h1 class="page-header-title">{{ featured_movie.title }}</h1>
		</section>
		<video
		    id="{{ featured_movie.title }}"
		    class="video-js"
	       width="970"
            height="400"
		    controls
		    preload="auto"
		    data-setup="{}">
		    <source src="{{ featured_movie.filepath }}" type="video/mp4" />
		    <p class="vjs-no-js">
		      To view this video please enable JavaScript, and consider upgrading to a
		      web browser that
		      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		    </p>
		  </video>
	</section>

{% endblock %}