
<nav class="navbar">
	<a href="{{ url_for('login') }}" class="navbar-logo"><h3>JescoFlix</h3></a>
	<ul class="navbar-list">
		{% if g.user %}
			<li>
				<span class="navbar-name">Welcome, {{ g.user.username | title }}</span>
			</li>
		{% endif %}
		<li>
			<a class="navbar-item" href="{{ url_for('trailer') }}">Movie Trailer</a>
		</li>
		<li>
			<a class="navbar-item" href="{{ url_for('about') }}">About</a>
		</li>
{#		<li>#}
{#			<a class="navbar-item" href="#">Contact</a>#}
{#		</li>#}
		{% if g.user %}
			<li>
				<a class="navbar-item" href="{{ url_for('logout') }}">Logout</a>
			</li>
		{% endif  %}
	</ul>
</nav>
