{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="container text-center my-5">
		<h1 class="text-light">Movie of the day</h1>
	</div>
	<div class="row">
		{% for movie in movies %}
			<div class="col-md-6">
				<iframe width="560" height="100%"
			        src="{{ movie.trailer }}"
			        title="{{ movie.title}}"
			        frameborder="0"
			        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
				</iframe>
			</div>
			<div class="col-md-6">
				<div class="card">
                    <h3 class="card-header">{{ movie.title }}</h3>
					  <ul class="list-group list-group-flush">
						  <li class="list-group-item">Starring : {{ movie.starring}}</li>
					    <li class="list-group-item">Genre : {{ movie.genre }}</li>
					    <li class="list-group-item">Released : {{ movie.released }}</li>
					    <li class="list-group-item">
						    <a class="text-warning" href="https://www.imdb.com/title/tt0119099/?ref_=nv_sr_srsg_0" target="_blank">
							    <img src="{{ url_for('static', filename='images/imdb-logo.png') }}" height="20" alt="">
						    </a>
					    </li>
					  </ul>
					  <div class="card-body">
					  <a class="btn btn-success" href="{{ url_for('movie', slug=movie.slug) }}">Watch This Movie!</a>
					  </div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>


{% endblock %}
