{% extends 'index.html' %}

{% block content %}
	<section class="page-layout trailer">
		{% for movie in movies %}
			<section class="page-header">
				<p class="page-header-text">Featured movie trailer:</p>
				<h1 class="page-header-title">{{ movie.title }}</h1>
			</section>

			<iframe
		        src="{{ movie.trailer }}"
		        title="{{ movie.title}}"
		        frameborder="0"
		        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
			</iframe>
		{% endfor %}
	</section>

{% endblock %}
